#about {
    padding: 8rem 1rem;
    background-color: #f4623a;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-divider {
    background-color: white;
}

.about-text {
    color: rgba(255, 255, 255, 0.5);
}

.link-to-section3 {
    background-color: white;
    padding: 1.25rem 2.25rem;
    font-size: 0.85rem;
    font-weight: 700;
    border: none;
    border-radius: 10rem;
}

.btn {
    color: #212529;
}