.container-5 {
    background-color: #343a40;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 8rem 0;
}

.download-title {
    margin: 1rem;
}

.download-button {
    color: #212529;
    background-color: #f8f9fa;
    padding: 1.25rem 2.25rem;
    font-size: 0.85rem;
    font-weight: 700;
    border: none;
    border-radius: 10rem;
    transition: background-color 0.15s ease-in-out;
}

.download-button:hover {
    background-color: #f8f9fad5;
}