.product-container {
    z-index: 999;
    width: 100%;
    position: relative;
    cursor: pointer;
}

.fullsize {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.thumbnails {
    z-index: 3;
    max-height: 697px;
}

.product-info {
    width: 100%;
    height: 100%;
    background: rgba(244, 98, 58, 0.9);
    opacity: 0;
    position: absolute;
    z-index: 2;
    top: 0.01rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: opacity 0.25s ease;
}

.product-container:hover .product-info {
    opacity: 1;
}

.product-type {
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: 0;
    font-size: 0.85rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.5);
}

.product-name {
    font-family: "Merriweather", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.2rem;
    margin: 0;
}

@media screen and (min-width: 600px) {
    .product-container {
        width: 50%;
    }
}

@media screen and (min-width: 1200px) {
    .product-container {
        width: 33.33%;
    }
}